services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    env_file:
      - .env
    restart: always
  app:
    image: cadastro-app:0.0.1-SNAPSHOT
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres